[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=uyivzola
Group=uyivzola
WorkingDirectory=/home/uyivzola/app/src/
Environment="PATH=/home/uyivzola/app/venv/bin"
EnvironmentFile=/home/uyivzola/.env
ExecStart=/home/uyivzola/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target